{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col" style="text-align: center;">
        <h1>
            About
        </h1>
        <h6>
            This is a personal e-commerce website where I sell whatever it is that I want to sell. Items could be clothes, electronics, shoes, etc. People that want to order something from the website have to first make an account by signing up. Once signed in, a customer can access the shop. The customer can then view the details of various items, add items to their cart, and place orders. To view past orders, a customer can click on the orders tab.
        </h6>
    </div>
</div>

<div class="row">
    <div class="col" style="text-align: center;">
        <h6>
            Website created by Ishan Dutta
        </h6>
        <b>
            <a href="{{ url_for('store.index') }}">
                Go back to the home page
            </a>
        </b>
    </div>
</div>

{% endblock %}