{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Hello, {{ current_user.username }}!</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h6>Current Username: {{ current_user.username }}!</h6>
    </div>
</div>
<div class="row">
    <div class="col">
        <h6>Current Email: {{ current_user.email }}!</h6>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="" method="post">
            {{ email_form.csrf_token }}
            <div class="form-group">
                {{ email_form.email.label(class="form-control-label") }}
                {{ email_form.email(class="form-control form-control-lg") }}

                {% if email_form.email.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in email_form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ email_form.submit }}
            </div>
        </form>
    </div>
</div>
<a href="{{ url_for('store.index') }}">
    <h4>Return to Home</h4>
</a>
{% endblock %}>