{% extends "header.html" %}
{% block content %}


{% if item %}
<div class="row">
    <div class="col" style="text-align: center;">
        <h1>
            {{item.title}}
        </h1>
        <h2>
            <img src={{item.image}} class="w-50">
        </h2>
        <h2>
            Price: {{item.price}}
        </h2>
        <h2>
            In Stock: {{item.count}}
        </h2>
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.submit(class="form-control form-control-lg") }}
            </div>
        </form>
        <b>
            <a href="{{ url_for('store.shop') }}">
                Go back to Shop
            </a>
        </b>
    </div>
</div>



{% endif %}
{% endblock %}