{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col" style="text-align: center;">
        <h1>
            Order Confirmation
        </h1>
        <h6>
            Successfully Placed Order!
        </h6>
        <h6>
            Future order updates will be sent to {{ current_user.email }}
        </h6>
        <b>
            <a href="{{ url_for('store.index') }}">
                Go back to the home page
            </a>
        </b>
    </div>
</div>


{% endblock %}